* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* start of nav */
.header-container {
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
   */
}

.header-menu {
  width: 100%;
  background-color: black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2em;

  /* border-bottom: 2px solid #ffb000;
  flex-direction: column;
  padding: 0 3em 1em 3em; */
}

.header-logo-container {
  /* padding-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.header-logo {
  width: 200px;
}

.header-items {
  /* border: 2px solid red; */
  /* 
  flex-direction: column;
  justify-content: center;
  align-items: center;
   */
  display: flex;
  gap: 2rem;

  list-style: none;
  font-weight: 600;
  font-size: 20px;
}

.hitems a {
  text-decoration: none;
  color: #ffb000;
}

.header-items .hitems a:hover {
  color: #ff3131;
}

.toggle_btn {
  color: #ffb000;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.dropdown-items {
  position: absolute;
  right: 2rem;
  height: 0;

  list-style: none;
  background: #1b1b1b;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  /* top: 60px; */
}

.dropdown-items .hitems {
  padding: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-items.open {
  height: 250px;
}

.dropdown-items .hitems a {
  color: white;
}

.dropdown-items .hitems:hover {
  background-color: #9b2929;
}

/* RESPONSIVE NAV */
@media only screen and (min-width: 402px) and (max-width: 960px) {
  .header-menu {
    padding-right: 2em;
  }

  .header-items {
    display: none;
  }

  .toggle_btn {
    display: block;
  }
}

@media only screen and (max-width: 401px) {
  .header-menu {
  }

  .header-items {
    display: none;
  }

  .toggle_btn {
    display: block;
  }

  .dropdown-items {
    left: 2rem;
    width: unset;
  }
}

@media only screen and (min-width: 961px) {
  .header-menu {
    background-color: #000000;
    padding: 0 5em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */

    z-index: 3;
  }
}

/* end of nav */

/* start of HERO */
.hero-container {
  /* border: 2px solid green; */

  color: #fff;
  gap: 2em;
  margin: 1em;
  width: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.hero-image-container {
  /* border: 2px solid green; */

  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 0 1em;
}

.hero-image {
  width: 80%;
  /* height: 50vw; */
}

.hero-details {
  /* border: 2px solid green; */
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  /* margin: 0 2em; */
  justify-content: center;
  /* gap: 1em; */
}

.hello {
  font-size: 5vw;
}

.name {
  color: #ff3131;
  font-size: 10vw;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* width: 300px; */
}

.webdev {
  font-size: 4vw;
}

.hero-btn {
  text-decoration: none;
  color: #000000;
  background-color: #ffb000;
  font-weight: bold;
  font-size: 3vw;

  text-align: center;
  padding: 9px 14px;
  margin: 1em 0;
  width: 30%;
  border-radius: 5px;
}

.hero-btn:hover {
  color: #fff;
  background-color: #ff3131;
  border-radius: 5px;
}

@media only screen and (min-width: 961px) {
  .hero-container {
    padding: 2rem 5rem;
    /* margin-top: 7em; */
    justify-content: center;
    gap: 5em;

    flex-direction: row-reverse;
  }

  .hero-btn {
    width: 50%;
  }

  .hero-image {
    width: 40vw;
  }

  .hello {
    font-size: 25px;
  }

  .name {
    font-size: 50px;
  }

  .webdev {
    font-size: 20px;
  }

  .hero-btn {
    font-size: 20px;
  }
}

/* end of HERO */

/* start of about-me */
.about-me-container {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-title {
  color: #000000;
  background-color: #ffffff;
  padding: 0.3em;

  position: relative;
  top: 20px;
}

.about-me-details {
  /* border: 5px dotted white; */
  background-color: #ffb000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 2em;
}

.about-me-info {
  font-weight: bold;
  padding: 1em 0;
}

@media only screen and (min-width: 961px) {
  .about-me-container {
    color: #000000;
    margin-bottom: 2em;
  }
  .about-me-details {
    margin: 1em 15em;
    background-color: #ffb000;
    /* border-radius: 10px; */
    text-align: left;
    padding: 5em;
    z-index: -1;
  }
  .about-me-title {
    background-color: #fff;
    color: #000000;
    font-size: 35px;
    padding: 0.5em;
    /* border-radius: 10px; */
    position: relative;
    top: 1.5em;
    z-index: 2;
  }
  .about-me-info {
    font-size: 20px;
  }
}

/* end of about me */

/* start of skills */
.skill-container {
  /* border: 2px solid yellow; */
  margin-bottom: -5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-title {
  text-align: center;
  color: #fff;
  padding: 1em 0 0 0;
  border-bottom: 2px solid #fff;
}

.skill-title span {
  color: #ff3131;
}

.monitor {
  max-width: 400px;
  width: 100%;
  position: static;
  top: 0;
  left: 0;
}

.skill-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  gap: 1em;
  position: relative;
  bottom: 280px;
}

.css,
.canva,
.html {
  width: 80px;
  background-color: #12141c;
  border-radius: 0.5rem;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.5s ease;
}

.canva:hover,
.html:hover,
.css:hover {
  box-shadow: 0 0 30px 1px #ff3131;
  transform: scale(1.1);
}

@media only screen and (min-width: 961px) {
  .css,
  .canva,
  .html {
    width: 130px;
    background-color: #12141c;
    border-radius: 0.5rem;
    padding: 1em;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .skill-container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-title {
    text-align: center;
    color: #fff;
    padding: 1em 0 0 0;
  }
  .skill-title span {
    color: #ff3131;
  }

  .monitor {
    max-width: 600px;
    width: 100%;
    position: static;
    top: 0;
    left: 0;
  }

  .skill-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    gap: 2em;
    position: relative;
    bottom: 450px;
  }
}
/* end of skills */

/* start of article */
.article-container {
  /* border: 2px solid red; */
  background-color: #ffb000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2em;
  /* padding: 0 1em; */
}

.article-title {
  padding: 10px;
  background-color: #ffb000;
  color: #000000;
  text-align: center;
  margin: 0.5em 0 0 0;
}

.article-items {
  /* border: 2px solid #000000; */
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.article-details {
  /* border: 2px solid yellow; */
  background-color: #12141c;

  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.article-details img {
  width: 100%;
  max-width: 100px;
  /* border: 2px solid #ff3131; */
}

.article-info {
  text-align: center;
  color: #ffb000;
  font-size: 15px;
  font-weight: bold;
  padding-top: 0.5em;
}

@media only screen and (min-width: 961px) {
  .article-container {
    
  }

  .article-title{
    padding: 1em 0 0.5em 0;
  }

  .article-items {
    border: none;
    padding: 0 15em;
  }

  .article-details img {
    width: 100%;
    max-width: 200px;
  }
}
/* end of article */
