.page {
  padding: 1em;
  width: 700px;
  margin: 0 auto;
}

.synopsis {
  color: #7e8184;
  font-style: italic;
}

.button {
  background-color: #5995da;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5d6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
  cursor: pointer;
}

.dangerous {
  font-style: italic;
  background-color: red;
}
.warning {
  font-style: italic;
  background-color: rgb(165, 99, 0);
}

/* Descendant Selector */
.synopsis em {
  font-style: normal;
}

/* Don't overdo it */
.article h2 .subheading em {
  color: red;
}

/* Pseudo-Selectors */
.kodego-website:link {
  color: blue;
  text-decoration: none;
}

.kodego-website:visited {
  color: pink;
}

.kodego-website:hover {
  color: aqua;
  text-decoration: underline;
}

.kodego-website:active {
  color: red;
}

.button:link,
.button:visited {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #5995da;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5d6863;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:active,
.button:visited:active {
  color: #fff;
  background-color: #5995da;
}

.warning:hover,
.warning:visited:hover {
  background-color: #eeb75a;
}

.warning:active,
.warning:visited:active {
  background-color: #eeb75a;
}
