/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --text: #0a1524;
  --background: #dbe6f5;
  --primary: #e0c094;
  --secondary: #c0d2ed;
  --accent: #ae7a32;
}

/* font family */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body {
  background-color: var(--background);
  font-family: "Inter", sans-serif;
}

#app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-family: "Mooli", sans-serif;
}

form,
article {
  width: 350px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  flex: 1;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

input:focus {
  outline: 1px solid var(--accent);
}

button {
  background: var(--accent);
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  color: var(--text);
  font-weight: bold;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

#card {
  background-color: var(--primary);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#weather-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--text);
  padding: 1rem;
  flex: 0.9;
}

img {
  align-self: center;
  width: 100%;
  mix-blend-mode: darken;
}

#weather-data-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

#weather-temp {
  font-size: 32px;
  color: var(--text);
}

#weather-type {
  font-size: 24px;
  color: var(--text);
  font-weight: bold;
}

#date {
  font-style: italic;
  color: var(--text);
}
