div {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(6, 50px);
  grid-gap: 5px;
}

input {
  grid-column: 1 / 5;
  padding: 10px;

  font-size: 20px;
  text-align: right;
  letter-spacing: 1px;
}

.clear {
  grid-column: 1/4;
  grid-row: 2/3;
}

.zero {
  grid-column: 1/4;
  grid-row: 6/7;
}

.divide {
  grid-column: 4/5;
  grid-row: 2/3;
}

.multiply {
  grid-column: 4/5;
  grid-row: 3/4;
}

.subtract {
  grid-column: 4/5;
  grid-row: 4/5;
}

.add {
  grid-column: 4/5;
  grid-row: 5/6;
}

.equals {
  grid-column: 4/5;
  grid-row: 6/7;
}
