/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

body,
p,
a,
ul,
li {
  text-decoration: none;
}

/* variables */
:root {
  --primary: #ffbb00;
  --secondary: #000000;
  --tertiary: #ffffff;
  --quaternary: #ff3131;
}

/* base styles */
body {
  background: var(--secondary);
  overflow-x: hidden;
  font-family: "OpenSans Regular";
  color: var(--primary);
}

/* fonts */
@font-face {
  font-family: "OpenSans Regular";
  src: url(font/OpenSans-Regular.ttf);
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 2em;
}
p {
  font-size: 1em;
}

label {
  font-size: 1.3em;
}

.hitems {
  font-size: 0.8em;
}

/* mobile styles */

/* start of nav */
.header-container {
}

.header-menu {
  /* border-bottom: 3px solid var(--primary); */
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;

  position: relative;
  box-shadow: 0px 1px 2px #ffbb0080, 0px 2px 4px #ffbb0080,
    0px 4px 8px #ffbb0080, 0px 8px 16px #ffbb0080;
  z-index: 1;
}

.header-logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  width: 150px;
}

.header-items {
  display: none;
  gap: 1em;
  /* padding: 1em; */

  font-weight: 600;
}

.hitems a {
  color: var(--tertiary);
  text-decoration: none;
  padding: 0.6em 1.5em;
  display: flex;
}

.header-items .hitems a:hover {
  color: var(--tertiary);
  border-radius: 20px;
  box-shadow: inset 0px -2px 4px #ff3131, inset 0px -2px 8px #ff3131,
    inset 0px 1px 16px #ff3131;
  transition: 0.1s;
  transform: translateY(-5px);
}

.toggle_btn {
  font-size: 1.5em;
  cursor: pointer;
}

.dropdown-items {
  position: absolute;
  right: 2rem;
  top: 5.5em;
  height: 0;
  z-index: 2;

  background-color: var(--secondary);
  width: unset;
  left: 2rem;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.dropdown-items .hitems {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropdown-items.open {
  height: 350px;
}

.dropdown-items .hitems a {
  color: white;
}

.dropdown-items .hitems:hover {
  background-color: var(--quaternary);
  transition: 0.5s ease;
}
/* end of nav */

/* start of hero */
.hero-container {
  width: 100%;
  background-image: url(img/black\ noise.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 1.5em 1.5em 1.5em;
}

.hero-image-container {
  padding-top: 1em;
}

.hero-image {
  width: 100%;
}

.hero-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hello {
  color: var(--tertiary);
}

.hero-name {
  color: var(--quaternary);
}

.webdev {
  color: var(--tertiary);
}

.hero-btn {
  color: var(--tertiary);
  border: 2px solid #ffffff;
  /* background-color: var(--secondary); */
  /* box-shadow: #ffffff66 0px 0px 30px; */
  border-radius: 5px;
  font-weight: bold;

  text-align: center;
  margin: 1em 0;
  padding: 0.5em 1.5em;
}

.hero-btn:hover {
  transition: 0.3s ease;
  color: var(--secondary);
  border: 2px solid #ffffff;
  background-color: var(--tertiary);
  box-shadow: #ffffff66 0px 0px 30px;
}
/* end of hero */

/* start of about-me */
.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
  width: 100%;
}
/* titles */
.about-me-title,
.skill-title,
.article-title,
.cta-title {
  margin-bottom: 0.3em;
  padding: 0.2em 0.5em;

  animation: neonAnim 11s alternate-reverse infinite;
  color: var(--tertiary);

  text-align: center;
}
@keyframes neonAnim {
  from {
    text-shadow: 0 0 10px #ffbb00b3, 0 0 40px #ffbb00b3, 0 0 100px #ffbb00b3;
  }
  to {
    text-shadow: 0 0 5px #ffbb00b3, 0 0 20px #ffbb00b3, 0 0 60px #ffbb00b3;
  }
}

.about-me-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background-color: var(--tertiary);
  color: var(--secondary);
  padding: 1em;

  box-shadow: 0px 0px 30px 0px var(--primary);
}

.about-me-info {
  text-align: justify;
  font-weight: bold;
}
/* end of about-me */

/* start of skills */
.skill-container {
  /* border: 2px solid white; */
  background-image: url(img/yellow\ line.svg);
  background-size: cover;
  background-position: center;
  /* margin-bottom: -3em; */
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monitor {
  width: 100%;
  max-width: 900px;
  position: relative;
  /* top: 0; */
  /* left: 0; */
}

.skill-image {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  width: 40%;
  top: auto;
  gap: 0.5em;
  position: absolute;
}

.css,
.canva,
.html,
.psd {
  width: 30%;
  background-color: #12141c;
  border-radius: 0.5rem;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.5s ease;
}

.canva:hover,
.html:hover,
.css:hover,
.psd:hover {
  box-shadow: 0 0 30px 1px #68c8ff;
  transform: scale(1.1);
}
/* end of skills */

/* start of project */
.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 2em 1em;
}

.article-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.article-details {
  text-align: center;
  background-color: #12141c;
  border-radius: 10px;
  gap: 0.5em;

  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  box-shadow: 0px 1px 2px #ffbb0080, 0px 2px 4px #ffbb0080,
    0px 4px 8px #ffbb0080, 0px 8px 16px #ffbb0080;
}

.article-details:hover {
  box-shadow: 0px 2px 4px #ffbb00b3, 0px 4px 8px #ffbb00b3,
    0px 8px 16px #ffbb00b3, 0px 12px 24px #ffbb00b3;
  transform: translateY(-10px);
  transition: 0.2s;
}

.article-details img {
  width: 100%;
  max-width: 150px;
  border-radius: 10px;
}

.article-info {
  text-align: center;
  color: var(--tertiary);
  font-weight: bold;
  text-transform: uppercase;
}
/* end of project */

/* start of Contact Me & Form */
.ctaform-container {
  /* border: 2px solid forestgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 1em;
}

.cta-ctr {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  /* background-color: #2b2b2b; */
}

.cta-info {
  gap: 0.5em;
  text-align: right;
  align-items: center;
}

.cta-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  color: var(--tertiary);
  font-weight: bold;
  font-size: 0.8em;
}

.cta-details i {
  color: var(--primary);
}

.form-ctr {
  /* border: 2px solid white; */
  background-color: #000000;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-bottom: 2em;

  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px var(--primary);
}

.form-title {
  align-self: flex-start;
  color: var(--tertiary);
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.8em;
  width: 100%;
  /* padding: 1em; */
}

.form-details p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */
  gap: 0.5em;
}

.buttons {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #222;
  color: #ffffff;
  box-shadow: 0px 1px 2px #ffbb0080, 0px 2px 4px #ffbb0080,
    0px 4px 8px #ffbb0080, 0px 8px 16px #ffbb0080;
}

input[type="submit"] {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #473100;
  color: #ffffff;
}

input[type="reset"] {
  background-color: var(--quaternary);
  color: var(--secondary);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #570000;
  color: #ffffff;
}
/* end of ctaform */

/* start of footer */
footer {
  border-top: 2px solid var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  box-shadow: 0px -8px 16px #ffbb0080;
  gap: 1em;
}

.f-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;
  font-size: 1.5em;
  padding: 5px;
}
.f-icons a {
  color: #ffffff;
  
}

.f-icons a i:hover {
  /* padding: 5px; */
  /* border: 1px solid var(--quaternary); */
  border-radius: 1px;
  box-shadow: 0 0 10px 1px var(--quaternary);
  transition: 0.2s;
  transform: scale(1.2);
}
/* end of footer */

/* small tablet styles */
@media only screen and (min-width: 620px) {
  /* body em */
  body {
    font-size: 18px;
  }

  /* titles */
  .about-me-title,
  .skill-title,
  .article-title,
  .cta-title {
    margin-bottom: 1em;
  }

  /* header */
  .header-menu {
    padding: 0 3em;
  }
  .header-logo {
    width: 180px;
  }
  .hero-container {
    align-items: center;
    padding: 3em 3em;
    gap: 2em;
  }
  .hero-details {
    align-items: center;
  }
  .hero-image-container {
    padding-top: 2em;
    /* align-self: center; */
    width: 80%;
  }

  /* dropdown */
  .dropdown-items {
    top: 6em;
    left: unset;
    width: 300px;
  }
  .dropdown-items.open {
    height: 385px;
  }

  /* about me */
  .about-me-container {
    padding: 2em 4em 2em 4em;
  }
  .about-me-details {
    padding: 3em;
    gap: 2em;
  }

  /* projects */
  .article-items {
    gap: 3em;
  }

  /* contact */
  .ctaform-container {
    padding: 1em 4em;
  }

  /* footer */
  footer {
    gap: 1em;
  }
}

/* large tablets & notebook styles */
@media only screen and (min-width: 820px) {
  /* body em */
  body {
    font-size: 15px;
  }
  /* header */
  .header-menu {
    padding: 0 5em;
  }
  .header-items {
    display: flex;
    justify-content: space-between;
  }
  .toggle_btn {
    display: none;
  }

  /* hero */
  .hero-container {
    flex-direction: row-reverse;
    padding: 2em 4em 1em 4em;
  }
  .hero-details {
    align-items: start;
    align-self: center;
    flex: 1;
  }
  .hero-image-container {
    align-self: center;
    flex: 2;
  }

  /* about me */
  .about-me-container {
    padding: 3em 7em;
  }

  /* skills */
  .skill-image {
    gap: 1.5em;
  }

  /* projects */
  .article-title {
    padding-top: 1em;
  }
  .article-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
  }

  /* contact and form*/
  .ctaform-container {
    padding: 2em 9em;
  }
  .cta-ctr {
    /* border: 2px solid white; */
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1em;
  }
  .cta-title {
    margin: 0;
  }
  /* footer */
  footer {
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }
}

/* desktop styles */
@media only screen and (min-width: 1200px) {
  /* body em */
  body {
    font-size: 20px;
  }
  /* header */
  .header-menu {
    padding: 0 5em;
    justify-content: space-around;
  }
  .header-logo {
    /* width: 25%; */
  }
  .header-items {
    display: flex;
    justify-content: space-between;
  }
  .toggle_btn {
    display: none;
  }

  /* hero */
  .hero-container {
    flex-direction: row-reverse;
    padding: 5em 8em;
  }
  .hero-details {
    align-self: center;
    flex: 1;
  }
  .hero-image-container {
    align-self: center;
    flex: 1;
  }

  /* about me */
  .about-me-container {
    padding: 6em 12em;
  }

  /* skills */
  .skill-image {
    gap: 1em;
  }

  /* projects */
  .article-container {
    padding: 4em;
  }
  .article-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
  }

  /* contact and form*/
  .ctaform-container {
    /* border: 2px solid white; */
    flex-direction: row;
    align-items: unset;
    justify-content: space-evenly;
    padding: 6em;
    width: auto;
    /* margin: auto; */
  }
  .cta-ctr {
    /* border: 2px solid white; */
    justify-content: unset;
    flex-direction: column;
    align-self: unset;
    align-items: unset;
    text-align: center;
    gap: 0;
    width: auto;
    padding: 0;
    /* flex: 1; */
  }
  .cta-title {
    padding: 0;
    align-self: flex-start;
    margin: 0;
  }

  .form-ctr {
    width: 50%;
    /* flex: 1; */
  }
  .form-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .form-details p:nth-child(5) {
    grid-column: 1/3;
  }

  /* footer */
  footer {
    flex-direction: row;
    justify-content: space-around;
    /* gap: 2em; */
  }
}
