/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

body,
p,
a,
ul,
li {
  text-decoration: none;
}


/* variables */
:root {
  --primary: #ffb000;
  --secondary: #000000;
  --tertiary: #ffffff;
  --quaternary: #ff3131;
}

/* base styles */
body {
  background: var(--secondary);
  overflow-x: hidden;
  font-family: "OpenSans Regular";
  color: var(--primary);
}

/* fonts */
@font-face {
  font-family: "OpenSans Regular";
  src: url(font/OpenSans-Regular.ttf);
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.5em;
}
p {
  font-size: 1em;
}

.hitems {
  font-size: 1.5em;
}

/* mobile styles */

/* start of nav */
.header-container {
}

.header-menu {
  border-bottom: 2px solid var(--primary);
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  position: fixed;
  z-index: 3;
}

.header-logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  width: 150px;
}

.header-items {
  display: none;
  gap: 2rem;
  font-weight: 600;
  padding: 1em;
}

.hitems a {
  color: var(--primary);
  text-decoration: none;
}

.header-items .hitems a:hover {
  color: var(--tertiary);
  transition: 0.5s ease;
}

.toggle_btn {
  font-size: 1.5em;
  cursor: pointer;
}

.dropdown-items {
  position: fixed;
  right: 2rem;
  top: 5.5em;
  height: 0;
  z-index: 2;

  background-color: var(--secondary);
  width: unset;
  left: 2rem;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.dropdown-items .hitems {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropdown-items.open {
  height: 270px;
}

.dropdown-items .hitems a {
  color: white;
}

.dropdown-items .hitems:hover {
  background-color: var(--quaternary);
  transition: 0.5s ease;
}
/* end of nav */

/* start of hero */
.hero-container {
  background-image: url(img/black\ noise.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 1.5em 1.5em 1.5em;
}

.hero-image-container {
  margin-top: 3em;
}

.hero-image {
  width: 100%;
}

.hero-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hello {
  color: var(--tertiary);
}

.hero-name {
  color: var(--quaternary);
}

.webdev {
  color: var(--tertiary);
}

.hero-btn {
  color: var(--tertiary);
  border: 2px solid #ffffff;
  /* background-color: var(--secondary); */
  /* box-shadow: #ffffff66 0px 0px 30px; */
  border-radius: 5px;
  font-weight: bold;

  text-align: center;
  margin: 1em 0;
  padding: 0.5em 1.5em;
}

.hero-btn:hover {
  transition: 0.3s ease;
  color: var(--secondary);
  border: 2px solid #ffffff;
  background-color: var(--tertiary);
  box-shadow: #ffffff66 0px 0px 30px;
}
/* end of hero */

/* start of about-me */
.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
}
/* titles */
.about-me-title,
.skill-title,
.article-title,
.cta-title {
  margin-bottom: 0.3em;
  padding: 0.2em 0.5em;

  animation: neonAnim 11s alternate-reverse infinite;
  color: var(--tertiary);

  text-align: center;
}
@keyframes neonAnim {
  from {
    text-shadow: 0 0 10px #ffffffb3, 0 0 40px #ffffffb3, 0 0 100px #ffffffb3;
  }
  to {
    text-shadow: 0 0 5px #ffffffb3, 0 0 20px #ffffffb3, 0 0 60px #ffffffb3;
  }
}

.about-me-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background-color: var(--tertiary);
  color: var(--secondary);
  padding: 1em;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
}

.about-me-info {
  text-align: justify;
  font-weight: bold;
}
/* end of about me */

/* start of skills */
.skill-container {
  /* border: 2px solid white; */
  background-image: url(img/yellow\ line.svg);
  background-size: cover;
  background-position: center;
  /* margin-bottom: -3em; */
  padding: 3em 1em 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monitor {
  width: 120%;
  max-width: 900px;
  position: static;
  top: 0;
  left: 0;
}

.skill-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 17%;
  gap: 0.5em;
  position: relative;
  bottom: 200px;
  z-index: 1;
}

.css,
.canva,
.html,
.psd {
  width: 100%;
  background-color: #12141c;
  border-radius: 0.5rem;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.5s ease;
}

.canva:hover,
.html:hover,
.css:hover,
.psd:hover {
  box-shadow: 0 0 30px 1px #68c8ff;
  transform: scale(1.1);
}
/* end of skills */

/* start of project */
.article-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 1em 2em 1em;
}

.article-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.article-details {
  text-align: center;
  background-color: #12141c;
  border-radius: 10px;
  gap: 0.5em;

  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-details img {
  width: 100%;
  max-width: 150px;
  border-radius: 10px;
}

.article-info {
  text-align: center;
  color: var(--tertiary);
  font-weight: bold;
  text-transform: uppercase;
}
/* end of project */

/* start of Contact Me & Form */
.ctaform-container {
  /* border: 2px solid forestgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* padding: 1em; */
}

.cta-ctr {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  /* background-color: #2b2b2b; */
}

.cta-info {
  gap: 0.5em;
  text-align: right;
  align-items: center;
}

.cta-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  color: var(--tertiary);
  font-weight: bold;
  font-size: 0.8em;
}

.cta-details i {
  color: var(--primary);
}

.form-ctr {
  /* border: 2px solid white; */
  background-color: #12141c;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: auto;

  border-radius: 10px;
  box-shadow: 0px 1px 15px 5px rgba(255, 255, 255, 0.25) , 0px 8px 16px -8px rgba(255, 255, 255, 0.3) , 0px -6px 16px -6px rgba(255, 255, 255, 0.025);
}

.form-title {
  font-size: 1.2em;
  color: var(--tertiary);
}

.form-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  font-size: 0.8em;
}

.form-details p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5em;
}

.form-details p:nth-child(5){
  grid-column: 1/3;
}

.buttons{
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

input[type=text], 
input[type=tel], textarea {
  padding: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #473100;
  color: #ffffff;
}

input[type=reset] {
  background-color: var(--quaternary);
  color: var(--secondary);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #570000;
  color: #ffffff;
}

/* small tablet styles */
@media only screen and (min-width: 620px) {
  .dropdown-items {
    left: unset;
    width: 300px;
  }
}

/* large tablets & laptop styles */
@media only screen and (min-width: 960px) {
  .header-items {
    display: flex;
    justify-content: space-between;
  }
  .toggle_btn {
    display: none;
  }
}

/* desktop styles */
@media and (min-width: 1200px) {
  .toggle_btn {
    display: none;
  }
}
