* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px;
  background-color: lightblue;
  /* gap: 1em; */
}

.room {
  border: 1px solid black;
  text-align: center;
}

.living-room {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.kitchen {
  grid-column: 4/6;
  grid-row: 3/6;
}

.bedroom{
  grid-column: 2/4;
  grid-row: 3/5;
}

.bathroom{
  grid-column: 1/2;
  grid-row: 3/6;
}

.closet{
  grid-column: 2/4;
  grid-row: 5/6;
}