* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  height: 100vh;
  background-color: rgb(136, 185, 136);
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.header {
  border: 1px solid yellow;
  grid-column: 1/3;
  grid-row: 1/2;
}

.sidebar {
  border: 1px solid black;
  grid-column: 1/2;
  grid-row: 2/3;
}

.main {
  border: 1px solid chartreuse;
  grid-column: 2/3;
  grid-row: 2/3;

  padding: 1em;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.main div {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  border: 1px solid blue;
  grid-column: 1/3;
  grid-row: 4/3;

  text-align: center;
}
